html {
	height: 100%;
}

body {
    background-image: url('http://nlazzari.com/weather/img/skulls.png');
    background-repeat: repeat;
    margin: 0;
    height: 100%;
}


#wrapper {
	height: 100%;
	text-align: center;
	background-repeat: no-repeat;
	/*
	display: -webkit-box;      
  	display: -moz-box;         
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
  	display: flex;             
  	justify-content: center; */
  	font-family: 'Muli', sans-serif;
}


#message {
	padding: 20px;
	margin-top: 10%;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 60%;
	min-width: 250px;

	background-color: rgba(10, 10, 10, 0.2);
	border-radius: 15px;
	color: white;
}

#icon {
	font-size: 100px;
	color: white;
}

#icon-wrapper {
	text-align: center;
}

#city {
	text-align: center;
	font-size: 36px;

}

#temp {
	text-align: center;
	font-size: 36px;
}

#temp:hover {
	cursor:pointer;
}